In [1]:
import pandas as pd

In [2]:
df_m = pd.read_csv("monthly_old.csv")
df_m.head()

,CountryName,Date,V1,V2,V3,V4,ConfirmedCases,ConfirmedDeaths,MajorityVaccinated,PercentageVaccinated,Population,PopulationVaccinated
0,Aruba,202001,0.0,0.0,0.0,NaN,0.0,0.0,NV,0.0,106845,0.0
1,Aruba,202002,0.0,0.0,0.0,NaN,0.0,0.0,NV,0.0,106845,0.0
2,Aruba,202003,0.0,0.0,0.0,NaN,55.0,0.0,NV,0.0,106845,0.0
3,Aruba,202004,0.0,0.0,0.0,NaN,100.0,2.0,NV,0.0,106845,0.0
4,Aruba,202005,0.0,0.0,0.0,NaN,101.0,3.0,NV,0.0,106845,0.0

In [3]:
df_m["NewConfirmedCases"] = df_m["ConfirmedCases"].diff()
df_m["NewConfirmedDeaths"] = df_m["ConfirmedDeaths"].diff()
# df_m.fillna(0, inplace=True)

In [4]:
# find first row of each country, set it to zero.
# so first get country list
unique_countries = df_m["CountryName"].unique()
len(unique_countries)

184

In [5]:
len(df_m) / len(unique_countries)

34.0

In [6]:
for i in range(len(unique_countries)):
    df_m.loc[i*34, "NewConfirmedCases"] = 0
    df_m.loc[i*34, "NewConfirmedDeaths"] = 0
df_m.to_csv("monthly.csv", index=False)

### Process Ten Day Data

In [7]:
df_t = pd.read_csv("ten_days_old.csv")
df_t["NewConfirmedCases"] = df_t["ConfirmedCases"].diff()
df_t["NewConfirmedDeaths"] = df_t["ConfirmedDeaths"].diff()
# df_t.fillna(0, inplace=True)
print(len(df_t) / len(unique_countries))

104.0

In [8]:
for i in range(len(unique_countries)):
    df_t.loc[i*104, "NewConfirmedCases"] = 0
    df_t.loc[i*104, "NewConfirmedDeaths"] = 0
df_t.to_csv("ten_days.csv", index=False)

### Process Daily Data

In [9]:
import pandas as pd

In [10]:
df_d = pd.read_csv("daily_old.csv")
df_d["NewConfirmedCases"] = df_d["ConfirmedCases"].diff()
df_d["NewConfirmedDeaths"] = df_d["ConfirmedDeaths"].diff()
# df_t.fillna(0, inplace=True)
print(len(df_d) / len(unique_countries))

1065.0

In [11]:
for i in range(len(unique_countries)):
    df_d.loc[i*1065, "NewConfirmedCases"] = 0
    df_d.loc[i*1065, "NewConfirmedDeaths"] = 0
df_d.to_csv("daily.csv", index=False)