In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv(r'C:\Users\hp\Desktop\nyu\senior 1\Information Visualization\Project\Does-Vaccination-Work-main\processed_data\ten_days.csv')
df.info

<bound method DataFrame.info of       CountryName     Date         V1     V2         V3     V4  \
0           Aruba  2020010   0.000000   0.00   0.000000    NaN
1           Aruba  2020011   0.000000   0.00   0.000000    NaN
2           Aruba  2020012   0.000000   0.00   0.000000    NaN
3           Aruba  2020020   0.000000   0.00   0.000000    NaN
4           Aruba  2020021   0.000000   0.00   0.000000    NaN
...           ...      ...        ...    ...        ...    ...
19131       World  2022100  98.295455  87.02  94.186047  False
19132       World  2022101  98.857143  86.35  93.099415  False
19133       World  2022102  98.816568  85.45  92.848485  False
19134       World  2022110  99.342105  86.17  96.054422  False
19135       World  2022111  99.115044  86.06  95.636364  False

       ConfirmedCases  ConfirmedDeaths MajorityVaccinated  \
0                 NaN              NaN                NaN
1                 NaN              NaN                NaN
2                 0.0              0.0                 NV
3                 0.0              0.0                 NV
4                 0.0              0.0                 NV
...               ...              ...                ...
19131     619174120.0        6532463.0                  V
19132     624034208.0        6548681.0                  V
19133     627813026.0        6564226.0                  V
19134     631537475.0        6580375.0                  V
19135     635591527.0        6594065.0                  V

       PercentageVaccinated  Population  PopulationVaccinated  \
0                       NaN      106845                   NaN
1                       NaN      106845                   NaN
2                      0.00      106845          0.000000e+00
3                      0.00      106845          0.000000e+00
4                      0.00      106845          0.000000e+00
...                     ...         ...                   ...
19131                 62.70  7808449406          4.895546e+09
19132                 62.81  7808449406          4.904261e+09
19133                 62.87  7808449406          4.909211e+09
19134                 63.03  7808449406          4.921828e+09
19135                 63.17  7808449406          4.932245e+09

       NewConfirmedCases  NewConfirmedDeaths
0                    0.0                 0.0
1                    NaN                 NaN
2                    NaN                 NaN
3                    0.0                 0.0
4                    0.0                 0.0
...                  ...                 ...
19131          4075222.0             12966.0
19132          4860088.0             16218.0
19133          3778818.0             15545.0
19134          3724449.0             16149.0
19135          4054052.0             13690.0

[19136 rows x 14 columns]>

In [8]:
country31 = ['Russia', 'China', 'India', 'United Kingdom', 'France', 
                    'Germany', 'Italy', 'Saudi Arabia', 'Iran', 'Egypt', 
                    'South Africa', 'Canada', 'Australia', 'United States', 
                    'Brazil', 'Mexico','Greece','Indonesia','New Zealand',
                    'Argentina','Finland','Turkey','Ukraine','Japan','Spain',
                    'Mali','South Korea','Kazakhstan','Peru','Colombia','World']
df1 = df.loc[df['CountryName'].isin(country31)]
df1 = df1.reset_index()
df1 = df1.drop(columns=['index'])
df1

,CountryName,Date,V1,V2,V3,V4,ConfirmedCases,ConfirmedDeaths,MajorityVaccinated,PercentageVaccinated,Population,PopulationVaccinated,NewConfirmedCases,NewConfirmedDeaths
0,Argentina,2020010,0.000000,0.00,0.000000,NaN,NaN,NaN,NaN,NaN,45267449,NaN,0.0,0.0
1,Argentina,2020011,0.000000,0.00,0.000000,NaN,NaN,NaN,NaN,NaN,45267449,NaN,NaN,NaN
2,Argentina,2020012,0.000000,0.00,0.000000,NaN,0.0,0.0,NV,0.00,45267449,0.000000e+00,NaN,NaN
3,Argentina,2020020,0.000000,0.00,0.000000,NaN,0.0,0.0,NV,0.00,45267449,0.000000e+00,0.0,0.0
4,Argentina,2020021,0.000000,0.00,0.000000,NaN,0.0,0.0,NV,0.00,45267449,0.000000e+00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3219,World,2022100,98.295455,87.02,94.186047,False,619174120.0,6532463.0,V,62.70,7808449406,4.895546e+09,4075222.0,12966.0
3220,World,2022101,98.857143,86.35,93.099415,False,624034208.0,6548681.0,V,62.81,7808449406,4.904261e+09,4860088.0,16218.0
3221,World,2022102,98.816568,85.45,92.848485,False,627813026.0,6564226.0,V,62.87,7808449406,4.909211e+09,3778818.0,15545.0
3222,World,2022110,99.342105,86.17,96.054422,False,631537475.0,6580375.0,V,63.03,7808449406,4.921828e+09,3724449.0,16149.0
3223,World,2022111,99.115044,86.06,95.636364,False,635591527.0,6594065.0,V,63.17,7808449406,4.932245e+09,4054052.0,13690.0

In [9]:
df1.to_csv('ten_days_31.csv',index= False)